// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Oswald:400,700';
$font-family--primary    : 'Oswald', sans-serif;
$font-family--secondary  : 'Helvetica', 'Arial', sans-serif;

// Color Usage

$key-color   : #0F4C3A;
$bg-color : #E6EBE1;
$color-text      : #1a1e24;
$white           : #fff;
$black           : #000;
$grey            : #fafafa;
