* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:visited,
*:focus {
	outline: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: $font-family--primary;
	background-color: $bg-color;
	color: $color-text;
	font-size: 62.5%;
}
.wrapper {
	margin: 0;
	padding: 0;
	background-color: $bg-color;
	border: 5px solid $key-color;
	overflow: hidden;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
a {
    color: $key-color;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $font-family--primary;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	font-size: 1rem;
	line-height: 1.5;
	@include mq(small){
    	font-size: 0.8rem;
    }
}
dl,dt,dd {
	margin: 0;
	padding: 0;
}
