header {
    text-align: center;
    @include mq(medium){
        padding: 0 10px;
    }
    .logo img {
        margin: 50px auto 0;
        @include mq(small){
            width: 200px;
        }
    }
    .navbar {
        margin: 0 auto;
        margin-top: 40px;
        max-width: 940px;
        padding: 15px 0;
        border-top: 1px solid $key-color;
        border-bottom: 1px solid $key-color;
        font-family: $font-family--primary;
        @include mq(small){
            padding: 10px 0;
        }
        .nav__item {
            display: inline-block;
            margin-left: 40px;
            letter-spacing: 0.05em;
            a {
                font-size: 1rem;
                font-weight: 700;
                transition: color 0.2s ease;
                @include mq(small){
                    font-size: 0.8rem;
                }
                &:hover {
                    color: rgba(15,76,58,0.7);
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
