.article__single {
    margin-bottom: 50px;
    .single__head {
        max-width: 940px;
        margin: 0 auto;
        @include mq(medium){
            padding: 0 10px;
        }
        .single__title {
            font-size: 2.2rem;
            margin-bottom: 10px;
            letter-spacing: 0.02em;
            @include mq(small){
                font-size: 1.6rem;
                line-height: 1.5em;
            }
        }
        .single__date {
            font-size:0.8rem;
            letter-spacing: 0.1em;
            margin-bottom: 40px;
            @include mq(small){
                font-size: 0.6rem;
                margin-bottom: 30px;
            }
        }
        .single__cat a {
            font-family: $font-family--primary;
            display: inline-block;
            margin-left: 10px;
            padding: 0px 10px;
            background-color: $key-color;
            color: #fff;
        }
        .single__image {
            margin-bottom: 40px;
            @include mq(small){
                margin-bottom: 20px;
            }
        }
    }
    .single__main {
        max-width: 700px;
        margin: 0 auto;
        @include mq(medium){
            padding: 0 10px;
        }
        p {
            font-size : 1.1rem;
            line-height : 2;
            margin-bottom: 20px;
            @include mq(small){
                font-size : 1rem;
                line-height : 1.8;
            }
        }
        h2 {
            letter-spacing: 0.03em;
            font-size: 1.8rem;
            line-height: 1.5;
            border-bottom: 3px solid $key-color;
            padding-bottom: 10px;
            margin: 50px 0 20px;
            @include mq(small){
                font-size : 1.4rem;
            }
        }
        h3 {
            letter-spacing: 0.03em;
            font-size: 1.4rem;
            margin: 40px 0 10px;
            @include mq(small){
                font-size : 1.2rem;
            }
        }
        strong {
            font-weight: bold;
        }
        p.size-8 {
            font-size: 0.9rem;
            @include mq(small){
                font-size : 0.7rem;
            }
        }
        .bg-white {
            background-color: #fff;
            border-radius: 5px;
            padding: 15px;
            padding-bottom: 5px;
            margin-bottom: 50px;
        }
        p.code {
            background-color: #fff;
            border-radius: 5px;
            padding: 15px 10px;
        }
        img {
            margin: 25px 0 30px;
        }
    }
}
